*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

:root {
    --background-light: linear-gradient(135deg, #f3f4f6, #dfe3e8);
    --background-dark: #333;
    --text-light: #333;
    --text-dark: #f3f4f6;
    --card-light: #ffffff;
    --card-dark: #444;
    --heading-dark: #7cceff
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: var(--background-light);
    color: var(--text-light);
    transition: background 0.3s, color 0.3s
}

.converter {
    text-align: center;
    background: var(--card-light);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s
}

h1 {
    margin-bottom: 20px;
    color: inherit;
    transition: color 0.3s
}

.dark-mode h1 {
    color: var(--heading-dark)
}

input,
select {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 20px);
    max-width: 300px;
    box-sizing: border-box
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #127bb8;
    color: white;
    transition: background-color 0.3s ease
}

button:hover {
    background-color: #0056b3
}

.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    color: inherit
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1000;
    display: none
}

.popup button {
    margin-top: 10px;
    background-color: #f44336;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease
}

.popup button:hover {
    background-color: #d32f2f
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none
}

.dark-mode {
    --background-light: #333;
    --background-dark: linear-gradient(135deg, #f3f4f6, #dfe3e8);
    --text-light: #f3f4f6;
    --text-dark: #333;
    --card-light: #444;
    --card-dark: #ffffff
}